<h1>DEFEAT!</h1>
<img src="/img/skull_frames1.gif" height="450px">
<audio src="/music/door-open.mp3" controls autoplay hidden>
</audio>
<p></p>
<h4>... so sad! You did not make it.</h4>
<div class="scroll">
<p> bummer dude </p>
<p> You failed to escape the Spooky Mansion!</p>
<p> The Mansion is now +1 ghosts to torment the foolish and unwary.</p>
<p> Stay tuned for the sequel:</p>
<p> Escape from the Spooky Mansion Again!</p>
<p> (click any button to start over)</p>
</div>
<div class="input_direction">
  <div class="input">
    <form action="/" method="get">
      <input type="text" autofocus="autofocus" name="player_move" value="">
      <button type="submit"  name="button"><h6>Enter</h6></button>
    </form>
  </div>
  <div class="direction">
    <form action="/" method="get">
      <button type="submit" name="button"><h6>North</h6></button>
    </form>
    <div class="middle">
      <form action="/" method="get">
        <button type="submit" name="button"><h6>West</h6></button>
      </form>
      <form action="/" method="get">
        <button type="submit" name="button"><h6>East</h6></button>
      </form>
    </div>
    <form action="/" method="get">
      <button type="submit" name="button"><h6>South</h6></button>
    </form>
  </div>
</div>
