<body class="index">
  <p>&nbsp;</p>
  <div class="start_game">
    <h3>click button to start</h3>
    <form action="/" method="post">
    <button type="submit"  name="button"><h6>Start!</h6></button>
    </form>
  </div>
</body>
