<body class="index">
  <p>&nbsp;</p>
  <div class="bat">
    <a href="https://www.youtube.com/watch?v=rX7XZLcGAxw"><img src="http://www.animatedimages.org/data/media/196/animated-bat-image-0007.gif" border="0" alt="animated-bat-image-0007" /></a>
  </div>

  <div class="start_game">
    <h3>click button to start</h3>
    <form action="/" method="post">
    <button type="submit"  name="button"><h6>Start!</h6></button>
    </form>
  </div>
</body>
