<h1><%= @current_room.title %></h1>
<img src="/img/<%= @current_room.image %>" height="450px">
<audio src="/music/door-open.mp3" controls autoplay hidden>
</audio>
<p></p>
<h4>Maze History</h4>
<div class="scroll">
  <% if @events == nil %>
  <% else %>
    <% @events.last(1).each do |list| %>
      <%= list.entry %><br>
    <% end %>
  <% end %>
</div>
<div class="input_direction">
  <div class="input">
    <form action="/" method="post">
      <input type="text" autofocus="autofocus" name="player_move" value="">
      <button type="submit"  name="button"><h6>Enter</h6></button>
    </form>
  </div>
  <div class="direction">
    <form action="/escape/1" method="post">
      <button type="submit" name="button"><h6>North</h6></button>
    </form>
    <div class="middle">
      <form action="/escape/2" method="post">
        <button type="submit" name="button"><h6>West</h6></button>
      </form>
      <form action="/escape/3" method="post">
        <button type="submit" name="button"><h6>East</h6></button>
      </form>
    </div>
    <form action="/escape/4" method="post">
      <button type="submit" name="button"><h6>South</h6></button>
    </form>
  </div>
</div>
