<h1>VICTORY!</h1>
<img src="/img/win.png" height="450px">
<audio src="/music/door-open.mp3" controls autoplay hidden>
</audio>
<p></p>
<h4>How awesome are you?</h4>
<div class="scroll">
<p> CONGRATULATIONS! </p>
<p> You have escaped the Spooky Mansion!</p>
<p> Now we all get to have some nice cake.</p>
<p> Stay tuned for the sequel:</p>
<p> Escape from the Spooky Mansion Again!</p>
</div>
<div class="input_direction">
  <div class="input">
    <form action="/" method="get">
      <input type="text" autofocus="autofocus" name="player_move" value="">
      <button type="submit"  name="button"><h6>Enter</h6></button>
    </form>
  </div>
  <div class="direction">
    <form action="/" method="get">
      <button type="submit" name="button"><h6>North</h6></button>
    </form>
    <div class="middle">
      <form action="/" method="get">
        <button type="submit" name="button"><h6>West</h6></button>
      </form>
      <form action="/" method="get">
        <button type="submit" name="button"><h6>East</h6></button>
      </form>
    </div>
    <form action="/" method="get">
      <button type="submit" name="button"><h6>South</h6></button>
    </form>
  </div>
</div>
