body {
  background-color: #170c2d;
}

.index {
  /* background-image: url("background.png"); */
  /*background-image: url(../img/background.svg);*/
  background-image: url(../img/background.png);
  /* background-size: 920px, 520px; */
  background-repeat: no-repeat;
  background-size: cover;
}

.bat {
  position: fixed;
  top: 30%;
  left: 20%;
}
.start_game {
  position: fixed;
  right: 80px;
  bottom: 80px;
  width: 440px;
  display: inline-flex;
}

h1 {
  color: white;
  font-family: "litania";
  letter-spacing: 2px;
  font-size: 70px;
}

.start_game h3 {
  margin-bottom: 15px;
}

h3 {
    color: white;
    font-family: "litania";
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 39px;
}

h4 {
  font-size: 37px;
  margin: 15px;
  font-family: "litania";
  letter-spacing: 2px;
  color: white;
}

.scroll {
  overflow: auto;
  font-family: serif;
  font-size: 22px;
  border:2px solid #ccc;
  width:750px;
  height: 440px;
  position: sticky;
  bottom: 0px;
  padding: 20px;
  background-color: black;
  color: white;
}

#monster {
  position: absolute;
  left: 268px;
  top: 200px;
}
.input_direction {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}

.direction {
  /*position: fixed;*/
  /*right: 100px;
  bottom: 85px;*/
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  margin: 15px;
}

#north {
  align-self: center;
}

#south {
  align-self: center;
}

#east {
  margin-left: 10px;
}

#west {
  margin-right: 10px;
}

button {
  width: 120px;
  height: 50px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin-left: 20px;
}

h6 {
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
}

input {
  width: 200px;
  height: 36px;
}

:disabled {
  opacity: .4;
}
