body {
  background-color: #1a0a38;
}

h3 {
    color: white;
    font-family: "litania";
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 39px;
}

h4 {
  font-size: 37px;
  margin: 15px;
  font-family: "litania";
  letter-spacing: 2px;
}
.scroll {
  padding: 20px;
  background-color: black;
  color: white;
}

.scroll p {
  max-height: 300px;
  overflow: scroll;
  font-family: serif;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
}

.direction {
  position: fixed;
  right: 100px;
  bottom: 85px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  margin: 15px;
}

#north {
  align-self: center;
}

#south {
  align-self: center;
}

#east {
  margin-left: 10px;
}

#west {
  margin-right: 10px;
}

button {
  width: 120px;
  height: 50px;
  background-color: black;
  border-style: solid;
  border-width: medium;
  border-color: white;
  margin-left: 20px;
}

h6 {
  font-size: 20px;
  color: white;
  letter-spacing: 3px;
}

input {
  height: 36px;
}

:disabled {
  opacity: .4;
}
